*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body{
    background: #0A0908;
    font: 14px roboto;
    -webkit-font-smoothing: antialiased !important;
}

.footer{
    position: relative;
    bottom: 0;
    width: 100%;
    height: 220px;
    /* background-color: #C6AC8F; */
}